#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url("../image/background1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  font-family: Nunito, Roboto, Arial, sans-serif;
  height: 100vh;
}
.inputHolder{
  width: 550px;
  height: 50px;
  background-color: #f4e2e2;
  box-shadow:0.5em 0.5em 0.5em rgb(150, 127, 127);
  border-radius: 12px;
  text-align: center;
}
.inputHolder>*{
  width: 550px;


}
.keboard{
  width: 550px;
  border-radius: 7px;
  text-align: center;
}